the calibration value can be found by combining the first digit and the last digit (in that order) to form a single two-digit number.

For example:

1abc2
pqr3stu8vwx
a1b2c3d4e5f
treb7uchet

In this example, the calibration values of these four lines are 12, 38, 15, and 77. Adding these together produces 142.

In [118]:
import pandas as pd
df = pd.read_table("1_data.txt", delimiter=" ")
 
# display DataFrame
print(df)

                                      value
0                            shrzvdcghblt21
1         sixdddkcqjdnzzrgfourxjtwosevenhg9
2                      threevt1onegxgvc9flk
3               7dmqzksnlcpbsqkzqlfour1four
4                4seven9gdlnhqxfseven94five
..                                      ...
995                              23sd6nnspq
996            nineeighttworhtvxdtxp8twoneh
997  four3threeonehbfhttgn39sqpctngqmzkhttn
998                        rphtbkncs4nznsix
999                 6three2sixsix9eightfour

[1000 rows x 1 columns]

Find first Digit.

Use re.search to search for first digit. "\d" is a number. Returns the first one.
.group returns the digit as a string(isntead of the index and digit) and int converts to string.

df.apply applys to every row of data frame, and axis=1 tells to do it by columns
used lamba function x.value to get "value" column of dataframe

In [119]:
import re
df['firstDigit']=df.apply(lambda x: int(re.search(r"\d",x.value).group()),axis=1)

To find the last digit, i'm just going to try to flip the string and do the same thing

In [120]:
df['nthDigit']=df.apply(lambda x: int(re.search(r"\d",x.value[::-1]).group()),axis=1)

In [121]:
df['Sum']=df.apply(lambda x: x.firstDigit*10+x.nthDigit,axis=1)

In [122]:
sum(df['Sum'])

55538

Part 2
======
Your calculation isn't quite right. It looks like some of the digits are actually spelled out with letters: one, two, three, four, five, six, seven, eight, and nine also count as valid "digits".

damn it!
--------
after reading redit: it seems this problem is ill defined, as "twone" should be counted as 21. This is a bit ambigous. apparently they only did doubles, not triples like twoneightwo.

In [123]:
df

                                      value  firstDigit  nthDigit  Sum
0                            shrzvdcghblt21           2         1   21
1         sixdddkcqjdnzzrgfourxjtwosevenhg9           9         9   99
2                      threevt1onegxgvc9flk           1         9   19
3               7dmqzksnlcpbsqkzqlfour1four           7         1   71
4                4seven9gdlnhqxfseven94five           4         4   44
..                                      ...         ...       ...  ...
995                              23sd6nnspq           2         6   26
996            nineeighttworhtvxdtxp8twoneh           8         8   88
997  four3threeonehbfhttgn39sqpctngqmzkhttn           3         9   39
998                        rphtbkncs4nznsix           4         4   44
999                 6three2sixsix9eightfour           6         9   69

[1000 rows x 4 columns]

In [124]:
# lazy solution to weird edge cases that I think are dumb
df['value']=df.apply(lambda x: x.value.replace("oneight","18"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("twone","21"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("threeeight","38"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("fiveight","58"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("sevenine","79"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("eightwo","82"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("eighthree","83"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("nineight","98"),axis=1)


df['value']=df.apply(lambda x: x.value.replace("one","1"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("two","2"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("three","3"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("four","4"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("five","5"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("six","6"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("seven","7"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("eight","8"),axis=1)
df['value']=df.apply(lambda x: x.value.replace("nine","9"),axis=1)
df['firstDigit']=df.apply(lambda x: int(re.search(r"\d",x.value).group()),axis=1)
df['nthDigit']=df.apply(lambda x: int(re.search(r"\d",x.value[::-1]).group()),axis=1)
df['Sum']=df.apply(lambda x: x.firstDigit*10+x.nthDigit,axis=1)
sum(df['Sum'])

54875

In [125]:
df.iloc[50]

value         752
firstDigit      7
nthDigit        2
Sum            72
Name: 50, dtype: object